@{
    ViewData["Title"] = "About Page";
}

@* <div> *@
@*     <style> *@
@*         html{ *@
@*         height: 100%; *@
@*            overflow:hidden; *@
@*         } *@
@*     </style> *@
@* </div> *@


<div style="height: calc(100vh - 56px);" class="d-flex justify-content-center align-items-center bg-dblue-lighter">
        <div style="border-radius: 75px;padding: 190px 200px; margin: 0 90px " class="bg-white">
            <p style="font-size: 2rem;" class="text-mustard fw-bold text-center">
                About Us
            </p>
            <p class="text-dblue-lighter text-center">Tutopia is a one-to-one tutoring website. Our mission is to help people learn, make it easier to connect them with experts, and provide students with affordable tutoring services. On the other hand, we seek to create an opportunity for fresh graduates and undergraduates to build professional experience and earn some money amid the Lebanese financial crisis.</p>
        </div>
</div>