
<div style="height: calc(100vh - 56px); background-color: #33658A;">
    <div class="c" style="height: 100%;width: 100%;display: flex;justify-content: center;align-items: center">
        <div style="background-color: white; border-radius: 75px;padding: 190px 200px; margin: 0 90px  ">
            <p style="color: #f6ae2d; text-align: center; font-size: 2rem; font-weight: bold">
                Contact Us
            </p>
            <p style="color: #33658A; text-align: center">"Welcome to our tutoring website! We are dedicated to providing high-quality educational services to students of all ages and levels. If you have any questions or concerns, please don't hesitate to contact us. We would be happy to help you. You can reach us by email at hellotutopia@gmail.com or by phone at 555-555-5555. Our customer service team is available Monday through Friday from 9am to 5pm EST. You can also use the contact form on our website to send us a message and we will respond as soon as possible. Thank you for choosing our tutoring services!"</p>
        </div>
    </div>
</div>