<link rel="stylesheet" href="~/css/landing.css" asp-append-version="true"/>
@{
    ViewData["Title"] = "Tutopia";
}
<div>
    <div class="d1 d">
        <div class="d1c">
            <p class="p1">The perfect place to find the perfect tutor.</p>
            <p class="p2">
                Private, 1–on–1 lessons with the expert instructor of your choice. Meet online or in-person. Decide how
                much you pay and who you want to work with. The choice is yours.
            </p>
        </div>
    </div>
    <div class="d2 d">
        <div class="c1 c">
            <div class="nb">1</div>
            <div class="c1c cc">
                <p class="p1">TELL US WHERE YOU’RE STRUGGLING</p>
                <p class="p2">Connect with experts .</p>
            </div>
        </div>
        <div class="c2 c">
            <img src="/images/Arrows.png" alt="">

        </div>
        <div class="c3 c">
            <div class="nb">2</div>
            <div class="c3c cc">
                <p class="p1">FIND YOUR TUTOR</p>
                <p class="p2">Search online for a tutor with the right qualifications and hourly rate.</p>
            </div>
        </div>
        <div class="c4 c">
            <img src="/images/Arrows.png" alt="">

        </div>
        <div class="c5 c">
            <div class="nb">3</div>
            <div class="c5c cc">
                <p class="p1">BOOK YOUR LESSON</p>
                <p class="p2">Tell your tutor when you’d like to meet, and only pay for the time you need</p>
            </div>
        </div>
    </div>
    <div class="d3 d">
        <p>
            Find the right person to help you reach your goals–no matter where you live, or what you want to learn.
        </p>
        <a class="but text-decoration-none text-white" asp-controller="Register" asp-action="RegisterStudent">
            GET STARTED
        </a>
    </div>
    <div class="d4 d">
        <div class="dd1">
            Online lessons. Real-world results.
        </div>
        <div class="dd2">
            <div class="ddd2">
                <img src="/images/New Macbook Pro Mockup Front View (1).png" alt="">
            </div>
            <div class="dd3">
                <div class="r">
                    <img src="/images/tick.svg" alt="">
                    <p>Meet with the expert of your choice, online or in-person.</p>
                </div>
                <div class="r">
                    <img src="/images/tick.svg" alt="">
                    <p>Save time and easily fit lessons into your schedule.</p>
                </div>
                <div class="r">
                    <img src="/images/tick.svg" alt="">
                    <p>Post your question on the feed and wait for an expert answer.</p>
                </div>
                <div class="r4">
                    <div class="but">
                        HOW IT WORKS
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d5 d">
        <p class="p1">Start tutoring with Tutopia.</p>
        <p class="p2">We're always looking for talented tutors. Set your own rate, get paid and make difference. Yoa can
            also benefit from our certification.</p>
        <a class="but text-decoration-none text-white" asp-controller="Register" asp-action="RegisterTutor">
            APPLY TODAY
        </a>
            
    </div>
    <div class="footerC">
        <div class="footer">
            <div class="logo">
                Tutopia
            </div>
            <div class="links">
                <div class="list">
                    <p class="title">
                        LEARN WITH US
                    </p>
                    <a asp-controller="Home" asp-action="SearchForTutor">Find a Tutor</a>
                    <a href="#">Request a Tutor</a>
                    <a href="#">Online Tutoring</a>
                </div>
                <div class="list">
                    <p class="title">
                        GET TO KNOW US
                    </p>
                    <a asp-controller="Home" asp-action="About">About Us</a>
                    <a asp-controller="Home" asp-action="Contact">Contact Us</a>
                    <a href="#">FAQ</a>
                    <a href="#">Reviews</a>
                </div>
                <div class="list">
                    <p class="title">
                        WORK WITH US
                    </p>
                    <a href="">Careers at Tutopia</a>
                    <a asp-controller="Register" asp-action="RegisterTutor">Apply to Tutor</a>
                    <a href="">Tutor job board</a>
                </div>
            </div>
        </div>
        <div class="copy">copyright © 2022 Tutopia all rights reserved.</div>
    </div>
</div>
