@{
    ViewData["Title"] = "Register";
}

<section style="height: calc(100vh - 56px);" class="d-flex justify-content-center align-items-center flex-column bg-dblue-lighter">

    <div class="d-flex flex-column bg-white" style="padding: 150px; border-radius: 60px">
        <h1 class="m-3 ">SignUp as:</h1>

        <a asp-controller="Register" asp-action="RegisterStudent" class="btn rounded-pill m-2 text-white bg-mustard">
            Student
        </a>

        <a asp-controller="Register" asp-action="RegisterTutor" class="btn rounded-pill bg-dblue-lighter m-2  text-white">
            Tutor
        </a>
    </div>
</section>